<!DOCTYPE html>
<html>
	<head>
		<title>shock me</title>
		<style>
			#shock-btn {
				width: 500px;
				height: 200px;
				font-size: 50px;
				font-family: 'Comic Sans MS', 'Comic Sans', cursive;
				background: #fcc76a;
				border: solid #56cc60 10px;
				border-radius: 25px;
			}
		
			#shock-btn:hover {
				border-color: #348a3c;
				background: #e8a838;
			}

			.header {
				font-size: 100px;
				margin-bottom: 20px;
			}

			.container {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1 class="header">do it</h1>
			<button type="button" id="shock-btn">
				SHOCK ME
			</button>
			</form>
		</div>
	<script>
		document.getElementById('shock-btn').addEventListener('click', function() {
			fetch('{{ url_for('shock_api') }}');
		});
	</script>
	</body>
</html> 

